{<<"app">>,<<"erlfmt">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"erlfmt is an opinionated Erlang code formatter">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/erlfmt.app.src">>,<<"src/erlfmt.erl">>,
  <<"src/erlfmt_algebra.erl">>,<<"src/erlfmt_cli.erl">>,
  <<"src/erlfmt_format.erl">>,<<"src/erlfmt_parse.yrl">>,
  <<"src/erlfmt_recomment.erl">>,<<"src/erlfmt_scan.erl">>,
  <<"src/erlfmt_scan.hrl">>,<<"src/rebar3_fmt_prv.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/WhatsApp/erlfmt">>}]}.
{<<"name">>,<<"erlfmt">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.14.1">>}.
